.ticket-card{
    background: rgb(58, 56, 64);
background: radial-gradient(circle, rgb(58, 56, 64) 0%, rgba(51,54,60,0.2805497198879552) 99%);
}
.ticket-card:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.tickets-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.concert-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items:center;
}


.btn-grad {background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   font-weight: 600;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

